.h2{
    color: #444;
    font-family: 'PT Sans', sans-serif;
}
/* thead{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #666;
} */
.img{
    width: 40px;
    height: 40px;
}
.name{
    display: inline-block;
}
.bgBlue{
    background-color: #EBF5FB;
    border-radius: 8px;
}
.fa-check,.fa-minus{
    color: blue;
}
.bgBlue:hover{
    background-color: #3e64ff;
    color: #eee;
    cursor: pointer;
}
.bgBlue:hover .fa-check,
.bgBlue:hover .fa-minus{
    background-color: #3e64ff;
    color: #eee;
}

.table thead th,.table td{
    border: none;
}

.table tbody td:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.table tbody td:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
#spacing-row{
    height: 10px;
}
@media(max-width:575px){
    .container{
        width: 125%;
        padding: 20px 10px;
    }
}