
.card {    
  border-radius: 10px;
  background: orange;
  border: none;
  color: #fff;  
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.card h1 {
  font-size: 48px;
  margin-bottom: 0px;
}

.card span {
  font-size: 28px;
}

.image {
  position: absolute;
  opacity: .1;
  left: 0;
  top: 0;
}

.image2 {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .1;
}