        
        .card {
            border-radius: 15px;
            color: #6f707d;
        }
        
        .div1{
            background: url('https://i.imgur.com/sTfvzrM.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment:local;
            border-radius: 16px 16px 0 0;
        }
        
        .div2{
            height: 30px;
            background-color: #9fe0fa;
            border-radius: 0 0 15px 15px;
        }
        
        h1{
            font-size: 65px;
        }
        
        sup{
            font-size: 17px;
            position: relative;
            top: -2rem;
        }
        