:root {
  --bg: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --textSoft: #b7bac1;
}

body {
  font-size: .875rem;
  /* background-color: #eee;   */
  /* background-color: #FAF5F8; */
  /* background-color: #f6f9fb; */
  /* background: #eef0f4; */

  background-color: var(--bg);
  color: var(--text);

}

.card {
  background-color: var(--bgSoft);
  border-color: var(--bgSoft);
  color: var(--text);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5), -4px -4px 16px var(--bgSoft);
}

.headerNavbar {
  background-color: var(--bgSoft);
  color: var(--text);
}

.table {
  background-color: var(--bgSoft);
}

a {
  color: var(--text);
  text-decoration: none;
}

/*
 * Sidebar
 */

 
.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 10px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  /* background-color: #774AFF; */
  background-color: var(--bgSoft);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5), -4px -4px 16px var(--bgSoft);
}

.sideicons {
  font-size: 20px;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  /* color: #333; */
  /* color: white; */
  margin-top: 5px;
  padding: 15px;
  /* border: 2px solid white; */
  color: var(--text);
}

.sidebar .active {

  border-right: none;
  margin-top: 5px;
  padding: 15px;
  background: var(--bg);
  color: var(--text);

}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.fixedPosition {
  position: sticky;
  top: 0;
}

/* FORM STYLING */
.form-control {
  background-color: rgba(165, 147, 69, 0.075);
}

.form-control:focus {
  color: #495057;

  border-color: black !important;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, .25) !important;
}