.bg{  
  padding: 20px;
  background-position: center !important; /* Center the image */
  background-repeat: no-repeat !important;  /* Do not repeat the image */
  background-size: cover !important; /* Resize the background image to cover the entire container */
}